{% extends "layout.html" %} {% block title %} Search {% endblock %} {% block
navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div id="single-book-detail" class="row">
  <div class="column mr1">
    <h1>My Book</h1>
    <form action="/book-info" method="GET">
      <input
        type="text"
        placeholder="Search by title, author or ISBN#"
        name="book"
      />
      <button type="submit">Search</button>
    </form>
  </div>
</div>
<div id="single-book-nav">
  <h2>Content4</h2>
</div>
<hr />
{% endblock %}
