{% extends "layout.html" %} {% block title %} Search {% endblock %} {% block
navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div id="single-book-detail" class="row">
  <div>
    <h1>Book Name</h1>
    <form action="/book-info" method="GET">
      <input type="text" placeholder="Search" name="book" />
      <button type="submit">Search</button>
    </form>
  </div>
</div>
<div id="single-book-nav"></div>
<hr />
{% endblock %}
