{% extends "layout.html" %} {% block title %} My Book {% endblock %} {% block
navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div id="single-book-detail" class="row">
  <div class="column mr1">
    <h1 id="header">{{bookinfo[0]["title"]}}</h1>
    <div id="navbar" class="row">
      <nav style="width: 50rem; display: flex; justify-content: space-between;">
        <h4>
          Author:
          <h3 style="color: black;">{{bookinfo[0]["author"]}}</h3>
        </h4>
        <h4>
          Year:
          <h3 style="color: black;">{{bookinfo[0]["year"]}}</h3>
        </h4>
        <h4>
          ID Number:
          <h3 style="color: black;">{{bookinfo[0]["isbn"]}}</h3>
        </h4>
      </nav>
    </div>
    <br />
    <div>
      <h2 id="heasder">
        Goodreads Reviews<link
          href="https://www.goodreads.com/review/list/116334606"
        ></link>
      </h2>
      <div id="navbar" class="row">
        <nav
          style="width: 50rem; display: flex; justify-content: space-between;"
        >
          <h4>
            Rating:
            <h3 style="color: black;">{{bookinfo[1]["work_ratings_count"]}}</h3>
          </h4>
          <h4>
            Average Rating:
            <h3 style="color: black;">{{bookinfo[1]["average_rating"]}}</h3>
          </h4>
        </nav>
      </div>
      <br>
      {% for review in reviews %}
      <div>
        <div class="comment">
          <h5>Peek a boo, user review:</h5>
          <blockquote id="reviews">
              <h3 style="color: black;">{{review['name']}}, </h3>
            {{review['comment']}}
              <h3 style="color: black;"> Rate: {{review['rating']}}</h3>
          </blockquote>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />
    <form method="POST">
      <label for="comment">Your Review: Please let us know what do you think about this book.</label>
      <br />
      <textarea
        id="comment"
        name="review"
        rows="4"
        cols="50"
        style="width: 50rem;"
       >
</textarea
      >
      <br /><br />
      <div
        class="row"
        style="width: 50rem; display: flex; justify-content: space-between;"
      >
        <input type="submit" value="Submit" />
        <label for="rating">Rate this book >>></label>
        <select id="rating" name="rating" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option selected value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <br />
    </form>
  </div>
</div>
<div id="single-book-nav"></div>
<hr />
{% endblock %}
