{% extends "layout.html" %} {% block title %} Peek A Boo! {% endblock %} {%
block navbar %}
<nav>
  <a href="{{ url_for('signup') }}">Sing up</a>
  <a href="{{ url_for('login') }}">Login</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div id="single-book-detail" class="row">
  <div class="column mr1">
    <h1>Book Name</h1>
    <form action="{{url_for('signup')}}">
      <input type="text" placeholder="Search" name="text" />
      <button type="submit">Search</button>
    </form>
  </div>
</div>
<div id="single-book-nav"></div>
<hr />
{% endblock %}
