{% extends "layout.html" %} {% block title %} My Info Book {% endblock %} {%
block navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div>
  <div class="column">
    <h1 style="display: flex; justify-content: center;">My Book</h1>
    <div id="navbar" class="row">
      <nav style="width: 50rem; display: flex; justify-content: space-between;">
        <h4>
          BOOK:
        </h4>
        <h4>
          AUTHOR
        </h4>
        <h4>
          PUBLICATION YEAR
        </h4>
        <h4>
          ID NUMBER
        </h4>
      </nav>
    </div>
    {% for book in books %}
    <table
      style="border-collapse: collapse; border: 1px solid black; width: 100%;"
    >
      <tbody>
        <tr style="border: 1px solid black;">
          <td
            style="
              border-bottom: 1px solid gray;
              padding: 5px;
              text-align: center;
            "
          >
            <h3>{{book['title']}}</h3>
          </td>
          <td
            style="
              border-bottom: 1px solid gray;
              padding: 5px;
              text-align: center;
            "
          >
            <h3>{{book['author']}}</h3>
          </td>
          <td
            sytle="border-bottom: 1px solid gray;
          padding: 5px;
          text-align: center;"
          >
            <h3>{{book['year']}}</h3>
          </td>
          <td
            style="
              border-bottom: 1px solid gray;
              padding: 5px;
              text-align: center;
            "
          >
            <h3>{{book['isbn']}}</h3>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="single-book-nav">
      <a href="/book-page/{{book['isbn']}}">Go to book page</a>
    </div>
    <!-- id="single-book-detail" class="row" -->
    {% endfor %}
  </div>
</div>
<hr />
{% endblock %}
