{% extends "layout.html" %} {% block title %} My Info Book {% endblock %} {%
block navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div>
  <div class="container">
    <h1 style="display: flex; justify-content: center;">My Book</h1>
    {% for book in books %}
    <table
      style="border-collapse: collapse; border: 1px solid black; width: 100%;"
    >
      <tbody>
        <tr id="navbar" style="width: 100%;">
          <th>BOOK</th>
          <th>AUTHOR</th>
          <th>PUBLICATION YEAR</th>
          <th>ID NUMBER</th>
          <th>LINK TO PAGE</th>
        </tr>
        <tr style="border: 1px solid black;">
          <td
            style="
              border: 1px solid black;
              text-align: center;
              width: 10em;
              padding: 10px;
            "
          >
            <h3>{{book['title']}}</h3>
          </td>
          <td style="border: 1px solid black; text-align: center; width: 10em;">
            <h3>{{book['author']}}</h3>
          </td>
          <td style="border: 1px solid black; text-align: center; width: 10em;">
            <h3>{{book['year']}}</h3>
          </td>
          <td style="border: 1px solid black; text-align: center; width: 10em;">
            <h3>{{book['isbn']}}</h3>
          </td>
          <td style="border: 1px solid black; text-align: center; width: 10em;">
            <a href="/book-page/{{book['isbn']}}">Book page</a>
          </td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
<hr />
{% endblock %}
