{% extends "layout.html" %} {% block title %} Login! {% endblock %} {% block
navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('login') }}">Login</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div id="single-book-detail" class="row">
  <div class="column mr1">
    <form action="/login" method="POST">
      <label>
        Username:
        <br />
        <input type="text" name="username" placeholder="Enter your username" />
      </label>
      <br />
      <label>
        Email:
        <br />
        <input
          type="email"
          name="email"
          placeholder="Enter Email"
          value="{{email if emial}}"
        />
      </label>
      <br />
      <label>
        Password:
        <br />
        <input
          type="password"
          name="password"
          placeholder="Enter your password with at least two numbers"
        />
      </label>
      <br />
      <br />
      <label>
        Login in your session.
        <br />
        <input type="submit" value="login" />
      </label>
    </form>
    <div>
      <h1>Book Name</h1>
      <form action="{{url_for('bookinfo')}}">
        <input type="text" placeholder="Search" name="text" />
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<div id="single-book-nav">
  <h2>Content2</h2>
</div>
<hr />
{% endblock %}
