{% extends "layout.html" %} {% block title %} Logout {% endblock %} {% block
navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('signup') }}">Sing up</a>
  <a href="{{ url_for('login') }}">Login</a>
</nav>
{% endblock %} {% block body %}
<div id="single-book-detail" class="row">
  <div class="column mr1">
    <h1>Please login in first</h1>
    <form action="{{url_for('login')}}">
      <h2>Would you like to login?</h2>
      <input type="text" placeholder="Y / N" name="text" />
      <button type="button">Go Back to Login</button>
    </form>
  </div>
</div>
<div id="single-book-nav">
  <h2>Content3</h2>
</div>
<hr />
{% endblock %}
