{% extends "layout.html" %} {% block title %} Sign Up {% endblock %} {% block
navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('login') }}">Login</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div id="single-book-detail" class="row">
  <h1>Registration</h1>
  <div class="column mr1">
    <form action="{{ url_for('login')}}" method="POST">
      <input
        type="email"
        name="email"
        placeholder="Enter Email"
        value="{{email if emial}}"
      />
    </form>
  </div>
</div>
<div id="single-book-nav">
  <h2>Content0</h2>
</div>
<hr />
{% endblock %}
