{% extends "layout.html" %} {% block title %} Sign Up {% endblock %} {% block
navbar %}
<nav>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('login') }}">Login</a>
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
{% endblock %} {% block body %}
<div id="single-book-detail" class="row">
  <h1>Registration</h1>
  <div class="column mr1">
    <form action="#" method="POST">
      <label>
        Username:
        <br />
        <input type="text" name="username" placeholder="Enter your full name" />
      </label>
      <br />
      <label>
        Email:
        <br />
        <input
          type="email"
          name="email"
          placeholder="Enter Email"
          value="{{email if emial}}"
        />
      </label>
      <br />
      <label>
        Password:
        <br />
        <input
          type="password"
          name="password"
          placeholder="Enter your password with at least two numbers"
        />
      </label>
      <br />
      <br />
      <label>
        Please submit your information.
        <br />
        <input type="submit" value="submit" />
      </label>
    </form>
  </div>
</div>
<div id="single-book-nav"></div>
<hr />
{% endblock %}
